<div>
    <mat-list-item role="listitem" [ngClass]="intervention.typeIntervention!=='RACCORDEMENT' ? 'blue' : 'cyan'">
        <section>
            
            <span mat-raised-button color="accent">
                {{intervention.jour}}/{{intervention.mois}}/{{intervention.annee}}
            </span>
            <span>
                {{intervention.typeIntervention}} {{intervention.typeRaccordement}} {{intervention.commentaire}}
            </span>
        </section>
        <aside>
        <a routerLink="/detailsInter/{{intervention.id}}" color="primary" mat-raised-button>Détails</a>
        </aside>
    </mat-list-item>

</div>