<div *ngIf="intervention">
  <mat-list role="list">
    <mat-list-item role="listitem">{{intervention.typeIntervention}}</mat-list-item>
    <mat-list-item role="listitem">{{intervention.typeRaccordement}}</mat-list-item>
    <mat-list-item role="listitem">{{intervention.jour}}/{{intervention.mois}}/{{intervention.annee}}</mat-list-item>
    <mat-list-item role="listitem">{{intervention.typeIntervention}}</mat-list-item>
  </mat-list>

  <a *ngIf="intervention.fileUpload" href="{{intervention.fileUpload.url}}">
    <img [src]="intervention.fileUpload.url" alt="screenshoot" class="img-thumbnail" height="50%"/>
  </a>
  <br>
  <button class="btn btn-primary" type="button">Primary</button>
  <button class="btn btn-outline-success" type="button">Success</button>

  <!--  <button (click)="deleteFileUpload()"
            class="btn btn-danger btn-sm" style="float: right">
      Delete
    </button>-->
</div>
