<div *ngIf="intervention">
  <button mat-raised-button color="accent" (click)="goBack()">Retour</button>
  <ul role="list" class="list-group">
    <li role="listitem" class="list-group-item">
      <span>
        {{intervention.jour}}/{{intervention.mois}}/{{intervention.annee}}
      </span>
    <li role="listitem" class="list-group-item">
      {{intervention.typeIntervention}} {{intervention.typeRaccordement}}
      
      <span *ngIf="intervention.numero">
        {{intervention.numero}}
      </span>
    </li>
    <li role="listitem" class="list-group-item" *ngIf="intervention.commentaire">{{intervention.commentaire}}</li>
  </ul>

  <section *ngIf="intervention.fileUpload">
    <img [src]="intervention.fileUpload.url" alt="screenshoot" class="img-thumbnail"/>
  </section>
  <br>
  <button class="btn btn-primary" type="button">Prestations complémentaires</button>

  <!--  <button (click)="deleteFileUpload()"
            class="btn btn-danger btn-sm" style="float: right">
      Delete
    </button>-->
</div>
