.principale {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main {
  background-image: linear-gradient(to bottom right, red, blue);
}

app-footer{
  float: bottom;
}